In [1]:
import jenkspy
import pandas as pd

In [6]:
incidents=pd.read_csv("incidents.csv")
incidents=incidents
incidents

,Land,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,UK,561,546,929,645,586,650,535,1182,960,1346,1382.0
1,France,473,474,832,466,389,614,423,851,808,335,NaN
2,Netherlands,81,108,167,124,112,96,100,171,126,109,113.0
3,Germany,1657,1559,1690,1268,1239,1374,1275,1596,1366,1468,1504.0
4,Belgium,69,73,109,52,64,80,64,109,70,64,35.0

In [7]:
LOST=incidents[incidents["Land"]=="UK"].iloc[:,1:].values.tolist()
UKbreaks = jenkspy.jenks_breaks(LOST[0], nb_class=3)
UKbreaks

[535.0, 650.0, 960.0, 1382.0]

In [8]:
LOST=incidents[incidents["Land"]=="France"].iloc[:,1:-1].values.tolist()
Francebreaks = jenkspy.jenks_breaks(LOST[0], nb_class=3)
Francebreaks

[335.0, 474.0, 614.0, 851.0]

In [9]:
LOST=incidents[incidents["Land"]=="Germany"].iloc[:,1:].values.tolist()
Germanybreaks = jenkspy.jenks_breaks(LOST[0], nb_class=3)
Germanybreaks

[1239.0, 1374.0, 1559.0, 1690.0]

In [10]:
LOST=incidents[incidents["Land"]=="Belgium"].iloc[:,1:].values.tolist()
Belgiumbreaks = jenkspy.jenks_breaks(LOST[0], nb_class=3)
Belgiumbreaks

[35.0, 52.0, 80.0, 109.0]

In [11]:
LOST=incidents[incidents["Land"]=="Netherlands"].iloc[:,1:].values.tolist()
Netherlandsbreaks = jenkspy.jenks_breaks(LOST[0], nb_class=3)
Netherlandsbreaks

[81.0, 100.0, 126.0, 171.0]

In [12]:
#create new df 
df = pd.DataFrame({'UK':UKbreaks,"France":Francebreaks, "Germany": Germanybreaks,"Belgium":Belgiumbreaks,"Netherlands":Netherlandsbreaks})
print (df)

   Belgium  France  Germany  Netherlands      UK
0     35.0   335.0   1239.0         81.0   535.0
1     52.0   474.0   1374.0        100.0   650.0
2     80.0   614.0   1559.0        126.0   960.0
3    109.0   851.0   1690.0        171.0  1382.0

In [13]:
df.to_csv("Antisemitism_jenks2.csv", index=False)