# Ignorelist f√ºr Q Worldmap

In [3]:
import pandas as pd
import pycountry

In [19]:
py_countries = pd.read_csv('py_countries.csv')
q_names = pd.read_csv('country_ids.csv')
q_iso = pd.read_csv('country_iso3.csv')

In [20]:
py_countries['iso_2'] = py_countries['iso_2'].str.replace("_", "")

In [21]:
name = 'Netherlands Antilles'
pycountry.countries.get(name = name)

In [22]:
# return iso3
errors = []

def get_iso3(iso2):
    try: 
        return pycountry.countries.get(alpha_2 = iso2).alpha_3
    except:
        errors.append(iso2)

In [23]:
py_countries['iso_3'] = py_countries['iso_2'].apply(get_iso3)

In [24]:
py_countries[py_countries['iso_2'].isin(errors)]

Empty DataFrame
Columns: [iso_2, name, iso_3]
Index: []

In [25]:
py_countries.head(2)

  iso_2           name iso_3
0    US  United States   USA
1    AF    Afghanistan   AFG

In [26]:
q_iso.head()

  ISO3
0  AFG
1  AGO
2  ALB
3  AND
4  ARE

In [28]:
notfound = []
for py in py_countries['iso_3'].to_list():
    if py not in q_iso['ISO3'].to_list():
        notfound.append(py)

In [32]:
len(py_countries) - len(q_iso)

53

In [30]:
len(notfound)

59

In [34]:
py_countries[py_countries['iso_3'].isin(notfound)]

    iso_2                         name iso_3
4      AS               American Samoa   ASM
7      AI                     Anguilla   AIA
8      AQ                   Antarctica   ATA
9      AG          Antigua And Barbuda   ATG
12     AW                        Aruba   ABW
17     BH                      Bahrain   BHR
19     BB                     Barbados   BRB
24     BM                      Bermuda   BMU
29     BV                Bouvet Island   BVT
38     CV                   Cape Verde   CPV
39     KY               Cayman Islands   CYM
44     CX             Christmas Island   CXR
45     CC                Cocos Islands   CCK
47     KM                      Comoros   COM
49     CK                 Cook Islands   COK
58     DM                     Dominica   DMA
68     FK  Falkland Islands (Malvinas)   FLK
69     FO                Faroe Islands   FRO
73     GF                French Guiana   GUF
74     PF             French Polynesia   PYF
75     TF        French S. Territories   ATF
81     GI                    Gibraltar   GIB
84     GD                      Grenada   GRD
85     GP                   Guadeloupe   GLP
86     GU                         Guam   GUM
108    KI                     Kiribati   KIR
122    MO                        Macau   MAC
127    MV                     Maldives   MDV
129    MT                        Malta   MLT
130    MH             Marshall Islands   MHL
131    MQ                   Martinique   MTQ
134    YT                      Mayotte   MYT
136    FM                   Micronesia   FSM
138    MC                       Monaco   MCO
140    MS                   Montserrat   MSR
145    NR                        Nauru   NRU
153    NU                         Niue   NIU
154    NF               Norfolk Island   NFK
155    MP     Northern Mariana Islands   MNP
159    PW                        Palau   PLW
165    PN                     Pitcairn   PCN
170    RE                      Reunion   REU
174    KN        Saint Kitts And Nevis   KNA
175    LC                  Saint Lucia   LCA
176    VC        St Vincent/Grenadines   VCT
177    WS                        Samoa   WSM
178    SM                   San Marino   SMR
179    ST                     Sao Tome   STP
182    SC                   Seychelles   SYC
184    SG                    Singapore   SGP
192    SH                   St. Helena   SHN
193    PM                    St.Pierre   SPM
205    TK                      Tokelau   TKL
206    TO                        Tonga   TON
211    TV                       Tuvalu   TUV
219    VA           Vatican City State   VAT
222    VG     Virgin Islands (British)   VGB
223    VI        Virgin Islands (U.S.)   VIR
224    EH               Western Sahara   ESH