In [1]:
import pandas as pd
import altair as alt

In [2]:
d0 = pd.read_pickle("cleaned/births.pkl")
alt.Chart(d0.query("Region == 'SÃ¼dasien' & year == 2024 & Scenario == 'Reference'")).mark_bar().encode(
    alt.X("val"),
    alt.Color('Location')
)

alt.Chart(...)

In [3]:
d0.query("Region == 'India' & year == 2024 & Scenario == 'Reference'").val / d0.query("Location == 'Global' & year == 2024 & Scenario == 'Reference'").val.iloc[0]

Series([], Name: val, dtype: float64)

In [4]:
d0.query("Location == 'Global' & year == 2024 & Scenario == 'Reference'").val.iloc[0]

127842186.264996

In [5]:
d1 = pd.read_pickle("cleaned/births.pkl")
d1 = d1.query("Region.isna() == False & Scenario == 'Reference'")
d1 = d1.groupby(['year', 'Region']).val.sum().reset_index()
d1

           year                      Region           val
0    1950-01-01     Europa und Zentralasien  1.381883e+07
1    1950-01-01   Lateinamerika und Karibik  6.925205e+06
2    1950-01-01  Naher Osten und Nordafrika  3.384216e+06
3    1950-01-01                 Nordamerika  4.023219e+06
4    1950-01-01        Ostasien und Pazifik  3.420810e+07
...         ...                         ...           ...
1052 2100-01-01  Naher Osten und Nordafrika  6.324466e+06
1053 2100-01-01                 Nordamerika  2.966855e+06
1054 2100-01-01        Ostasien und Pazifik  7.703554e+06
1055 2100-01-01            Subsahara-Afrika  4.031282e+07
1056 2100-01-01                    SÃ¼dasien  6.670998e+06

[1057 rows x 3 columns]

In [6]:
d2 = d1[['year', 'Region', 'val']].pivot_table(index='year', columns='Region', values='val').reset_index()
d2

Region,year,Europa und Zentralasien,Lateinamerika und Karibik,Naher Osten und Nordafrika,Nordamerika,Ostasien und Pazifik,Subsahara-Afrika,SÃ¼dasien
0,1950-01-01,1.381883e+07,6.925205e+06,3.384216e+06,4.023219e+06,3.420810e+07,9.109352e+06,2.113501e+07
1,1951-01-01,1.379810e+07,7.085518e+06,3.463891e+06,4.174773e+06,3.459751e+07,9.319922e+06,2.143017e+07
2,1952-01-01,1.379152e+07,7.257718e+06,3.540955e+06,4.277632e+06,3.501045e+07,9.541986e+06,2.172345e+07
3,1953-01-01,1.388533e+07,7.441175e+06,3.613171e+06,4.376247e+06,3.544756e+07,9.767675e+06,2.202636e+07
4,1954-01-01,1.401752e+07,7.627887e+06,3.684988e+06,4.462425e+06,3.596981e+07,9.996449e+06,2.234057e+07
...,...,...,...,...,...,...,...,...
146,2096-01-01,5.248933e+06,3.516390e+06,6.456776e+06,3.033291e+06,8.172987e+06,4.122186e+07,7.324717e+06
147,2097-01-01,5.201620e+06,3.457955e+06,6.424138e+06,3.017144e+06,8.057842e+06,4.099519e+07,7.155709e+06
148,2098-01-01,5.154473e+06,3.400315e+06,6.391177e+06,3.000687e+06,7.940992e+06,4.076685e+07,6.991214e+06
149,2099-01-01,5.107069e+06,3.343515e+06,6.357886e+06,2.983999e+06,7.822845e+06,4.053852e+07,6.830313e+06
150,2100-01-01,5.058884e+06,3.288103e+06,6.324466e+06,2.966855e+06,7.703554e+06,4.031282e+07,6.670998e+06

In [7]:
d3 = d2[['year', 'Subsahara-Afrika', 'Lateinamerika und Karibik', 'Nordamerika', 'Europa und Zentralasien', 'Naher Osten und Nordafrika', 'SÃ¼dasien', 'Ostasien und Pazifik']]
d3

Region,year,Subsahara-Afrika,Lateinamerika und Karibik,Nordamerika,Europa und Zentralasien,Naher Osten und Nordafrika,SÃ¼dasien,Ostasien und Pazifik
0,1950-01-01,9.109352e+06,6.925205e+06,4.023219e+06,1.381883e+07,3.384216e+06,2.113501e+07,3.420810e+07
1,1951-01-01,9.319922e+06,7.085518e+06,4.174773e+06,1.379810e+07,3.463891e+06,2.143017e+07,3.459751e+07
2,1952-01-01,9.541986e+06,7.257718e+06,4.277632e+06,1.379152e+07,3.540955e+06,2.172345e+07,3.501045e+07
3,1953-01-01,9.767675e+06,7.441175e+06,4.376247e+06,1.388533e+07,3.613171e+06,2.202636e+07,3.544756e+07
4,1954-01-01,9.996449e+06,7.627887e+06,4.462425e+06,1.401752e+07,3.684988e+06,2.234057e+07,3.596981e+07
...,...,...,...,...,...,...,...,...
146,2096-01-01,4.122186e+07,3.516390e+06,3.033291e+06,5.248933e+06,6.456776e+06,7.324717e+06,8.172987e+06
147,2097-01-01,4.099519e+07,3.457955e+06,3.017144e+06,5.201620e+06,6.424138e+06,7.155709e+06,8.057842e+06
148,2098-01-01,4.076685e+07,3.400315e+06,3.000687e+06,5.154473e+06,6.391177e+06,6.991214e+06,7.940992e+06
149,2099-01-01,4.053852e+07,3.343515e+06,2.983999e+06,5.107069e+06,6.357886e+06,6.830313e+06,7.822845e+06
150,2100-01-01,4.031282e+07,3.288103e+06,2.966855e+06,5.058884e+06,6.324466e+06,6.670998e+06,7.703554e+06

In [9]:
d3.to_csv("out/region_births.csv", index=False)